@model Hackaton.Models.ChangePasswordViewModel
@{
    ViewBag.Title = "Zmień hasło";
}
<!-- Intro Header -->
<!-- Intro Header -->
<header class="introEvents">
    <div class="intro-body">
        <div class="container">
            <div class="row">
                <div class="col-md-8 col-md-offset-2">
                    <h1 class="brand-heading">Zmień swoje hasło</h1>
                    <p class="intro-text">Poniżej znajdziesz możliwość edycji swojego hasła i profilu<br>i biegnijmy razem</p>
                    <a href="#passwordChange" class="btn btn-circle page-scroll">
                        <i class="fa fa-angle-double-down animated"></i>
                    </a>
                </div>
            </div>
        </div>
    </div>
</header>
<!-- Password Section -->
<section id="passwordChange">
    <div id="ChangePasswordPanel">
    <div id="centerPasswordPanel">
        <h2>@ViewBag.Title.</h2>

        @using (Html.BeginForm("ChangePassword", "Manage", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
        {
            @Html.AntiForgeryToken()
            <h4>Zmień hasło</h4>
            <hr />
            @Html.ValidationSummary("", new { @class = "text-danger" })
            <div class="form-group">
                @Html.LabelFor(m => m.OldPassword, new { @class = "col-md-2 control-label" })
                <div class="col-md-10">
                    @Html.PasswordFor(m => m.OldPassword, new { @class = "form-control" })
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(m => m.NewPassword, new { @class = "col-md-2 control-label" })
                <div class="col-md-10">
                    @Html.PasswordFor(m => m.NewPassword, new { @class = "form-control" })
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(m => m.ConfirmPassword, new { @class = "col-md-2 control-label" })
                <div class="col-md-10">
                    @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control" })
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="Zmień hasło" class="btn btn-default" />
                </div>
            </div>
        }
        </div>
    </div>
    </section>
    @section Scripts {
        @Scripts.Render("~/bundles/jqueryval")
    }
